<div id="books" class="transitions-enabled">
<% @books.each do |book| %>
  <div class="box panel panel-default">
        <%= image_tag book.image.url(:medium) %>
        <div class="pane-body">
        <%= book.description %>
        <%= book.user.email if book.user %>
        <%= link_to 'Show', book %>
        <% if book.user == current_user %>
        <%= link_to 'Edit', edit_book_path(book) %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    <% end %>
</div>
