<h1>Listing books</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= image_tag book.image.url(:medium) %></td>
        <td><%= book.description %></td>
        <td><%= book.user.email if book.user %></td>
        <td><%= link_to 'Show', book %></td>
        <% if book.user == current_user %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Book', new_book_path %>
<% end %>