<%= link_to 'Back', books_path %>

<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading center">
<%= image_tag @book.image.url(:medium) %>
<div class="pane-body">
<p><%= @book.description %></p>
<p><strong><%= @book.user.name if @book.user %></strong></p>

<% if @book.user == current_user %>
<%= link_to edit_book_path(@book) do %> 
	<span class="glyphicon glyphicon-edit"></span> Edit <% end %>
<% end %>

